body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.checkout-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.left-section {
    flex: 2;
    min-width: 300px;
}

.right-section {
    flex: 1;
    min-width: 250px;
}

.cart-summary {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input, select {
    width: 98%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cartbutton {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}


.dropdown-section {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dropdown-header {
    padding: 10px;
    background-color: #eee;
    cursor: pointer;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    padding: 10px;
}

.back-button {
    margin: 15px;
}

.back-button a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .checkout-container {
        flex-direction: column;
    }

    .right-section, .left-section {
        width: 100%;
    }

    input, select {
        width: 95%;  
    }
}