 body {
    font-family: Arial, sans-serif;
    
    background-color: #f7f7f7;
}

.order-summary {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
    margin-top: 1em;
    margin: 30px;
}

.address-summary {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
    margin-top: 1em;
    margin: 30px;
}

.order-info {
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 2px solid #ddd;
}

.order-info h2 {
    margin-top: 0;
}

.product-card {
    display: flex;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}

.product-card img {
    max-width: 100px;
    height: auto;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 5px;
}

.product-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-right {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 120px;
}

.product-title {
    font-weight: bold;
    font-size: 18px;
}

.product-description {
    color: #666;
    font-size: 14px;
    margin-top: 4px;
}

.product-qty, .product-price {
    font-size: 16px;
    margin: 5px 0;
}

.totals {
            border-top: 2px solid #ddd;
            padding-top: 15px;
            margin-top: 20px;
}

.totals p {
            font-size: 16px;
            margin: 5px 0;
            display: flex;
            justify-content: space-between;
}

.totals p.total {
    font-weight: bold;
    font-size: 18px;
}

.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: cadetblue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}


.back-button:hover {
    background-color: rgb(74, 123, 124);
}