.desktopBackground
{
    background-color: rgb(240, 240, 240) ;
    width: 100%;
    height: auto;
}

.Sellerbanner-container {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust as needed */
    background-color: transparent; /* Optional for clarity */
    
  }
  
  .Sellerbanner {
    width: 100%;
    height: 100%;
   
  }

  .Sellerbanner img
  {
    position: relative;
    width: 98%;
    height: 100%;
    left:1%;
    border: 1px solid rgb(0,162,255);
    border-radius: 2px;
  }
  
  .circle-image 
  {
     position: absolute;
     left:4%;                  /* Aligns image to the right side */
     top: 100%;                 /* Places image directly under the banner */
     transform: translateY(-50%); /* Pulls it up so only the top half overlaps the bottom of the banner */
     width: 200px;
     height: 200px;
     border-radius: 50%;
     border: 4px solid white;   /* Optional border */
     object-fit: cover;
     box-shadow: 0 0 8px rgba(0,0,0,0.2); /* Optional shadow */
     
  }

  .contafd
  {
    position: relative;
    width: 100%;
    height: 399px;
    background-color: red;
  }

  .mainsellercontainer
  {
    height: auto;
  }

  .mainDetailsContainers
  {
    display: flex;
    width: 100%;
    height: auto;
  }

  .buttonContainer
  {
    position: relative;
    width:200px;
    left: 4%;
    margin-top: 110px;
  }

  .Contactbutton
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Contactbutton button
  {
    width: 80%;
    height: 50px;
    background-color: rgb(0,162,255);
    color: white;
    border:none;
    border-radius: 2px;
    font-weight: 600;
  }
  .mainDetailsContainers-textContainer
  {
     padding: 5px;
     margin-top: 5px;
     width:70%;
     background-color: white;
     left: 5%;
     position: relative;
     margin-bottom: 5em;
     border-radius: 5px;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.315);
  }

  .PlaceholderandRatingContainer
  {
    width: 100%;
    height:50px;
    display: flex;
    justify-content: space-between;
  }
  .SellerNameContainer
  {
    width: 50%;
    left: 0%;
    font-size: x-large;
    font-weight: 700;
  }

  .SellerverifiedContainer
  {
    position: relative;
    display: flex;
    width: 20%;
    right: 0%;
    text-align: right;
    margin-bottom: 10px;
    color: rgb(0,162,255);
  }

  .SellerverifiedContainer p{
    color: rgb(0,162,255);
  }

  .SellerNameRatingContainer
  {
    position: relative;
    width: 20%;
    right: 0%;
    text-align: right;
    margin-bottom: 10px;
  }
  .sellerDescriptionConatiner
  {
    width: 100%;
    height: auto;
    /*
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    overflow: hidden;
    text-overflow: ellipsis; 
    word-break: break-word;
    */
    font-size: large;
  }


  .PlaceholderSliderContainer
{
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    height:auto;
    padding-top: 12px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.315);
    margin-bottom: 5em;
    background-color: white;
    overflow-x: auto;
}
.PlaceholderSliderContainer-title
{
    font-weight: 700;
    font-size: large;
}
.PlaceholderSliderContainer-title p{
    padding-left:5px;
} 
.PlaceholderSliderContainer-contentSection
{
    width: 100%;
    height: auto;
    display: flex;
    overflow-y: auto;
    scrollbar-width: 0;
}
.PlaceholderSliderItemPlaceholder
{
    width: 13em;
    min-width: 13em;
    height: 15em;
    min-height: 15em;
    box-shadow: 0 0 5px black;
   /* border:1px solid black;*/
    border-radius: 3px;
    margin: 12px;
}

.PlaceholderSliderItemPlaceholder-wordsContainer
{
    height:30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.PlaceholderSliderItemPlaceholder-imageContainer
{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PlaceholderSliderItemPlaceholder img{
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 3px;
    width: 80%;
    height: 90%;
    max-height: 15em;
}

.wordsContainer-Title
{
    width: 100%;
    font-size:medium;
    font-weight: 600;
    padding-left: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
   
}
.priceContainer-Title
{
    width: 100%;
    padding-left: 5px;
}
.soldContainer-Title
{
    width: 100%;
    padding-left:5px;
    font-weight: 600;
    color:red;
}


.reportUserContainer
{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reportUserContainer button
{
    color: white;
    background-color: rgb(0,162,255);
    height: auto;
    width: auto;
    font-weight: 600;
    border-radius: 2px;
    border: none;
    padding:10px;
}


/*Specific mobile section*/
.mobileBackground
{
    width:100%;
    height:100vh;
    background-color: rgb(240, 240, 240) ;
}

.mobileSellerbanner-container {
    position: relative;
    width: 100%;
    height: 200px; /* Adjust as needed */
    background-color: transparent; /* Optional for clarity */
    margin-bottom: 55px;
  }
  
  .mobileSellerbanner {
    width: 100%;
    height: 100%;
   
  }

  .mobileSellerbanner img
  {
    position: relative;
    width: 98%;
    height: 100%;
    left:1%;
    border: 1px solid rgb(0,162,255);
    border-radius: 2px;
  }
  
  .mobilecircle-image     
  {
     position: absolute;
     left:40%;                  /* Aligns image to the right side */
     top: 100%;                 /* Places image directly under the banner */
     transform: translateY(-50%); /* Pulls it up so only the top half overlaps the bottom of the banner */
     width: 100px;
     height: 100px;
     border-radius: 50%;
     border: 4px solid white;   /* Optional border */
     object-fit: cover;
     box-shadow: 0 0 8px rgba(0,0,0,0.2); /* Optional shadow */
  }

  .mobileSellerNameContainer
  {
    width:100%;
    height: auto;
    text-align: center;
    align-items: center;
    font-weight: 600;
  }

  .mobileSellerDescriptionContainer
  {
    position: relative;
    width: 90%;
    left:5%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.315);
    height: auto;
    padding: 3px;
   /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 30;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;*/
    margin-bottom: 1em;
  }

  .mobileSellerRating-Container{
    position: relative;
    left: 5%;
    height: auto;
    width: auto;
    max-width: 150px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.315);
    background-color: white;
    font-size: small;
    padding-right: 1px;
    padding-left: 1px;
  }

  .mobileContactButton-Container
  {
    position: relative;
    left:5%;
    width: 150px;
    height: 50px;
    background-color: aqua;
    margin-bottom: 2em;
  }
  .mobileContactButton-Container button{
    background-color: rgb(0,162,255);
    border: none;
    border-radius: 2px;
    color: white;
    width: 100%;
    height: 100%;
    font-weight: 600;
  }

  .noResultsText
  {
    align-self: center;
    justify-self: center;
    margin: 20px;
    font-size: large;
    font-weight: 600;
  }


.notification-banner {
  background-color: #dff0d8;
  color: #3c763d;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  opacity: 1;
}


  @media (max-width:700px) {
    .PlaceholderSliderContainer
    {
        margin-bottom: 2em;
    }
    .reportUserContainer
    {
        height: 50px;
    }
  }

