
.ListBackground
{
    padding: 1em;    
    margin-left: 1em;
    transition: all 0.3s;
}
.FoodListBackground
{
    padding: 1em;    
    margin-left: 1em;
    transition: all 0.3s;
}

.ListBackground h3
{
    margin-bottom: 1em;
}

.FoodListBackground h3
{
    margin-bottom: 1em;
}

footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    background-color: white;
    
}

footer button
{
    position: relative;
    width: 40%;
    left:30%;
    height: 35px;
    border: none;
    border-radius: 2px;
    background-color: rgb(97, 160, 95);
    color: white;
}

.referenceItem-Container
{
    width: 70%;
    height: 10em;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.774);
     border-radius: 5px;
     margin-bottom: 3em;
}

.referenceItem-ContentContainer
{
    position: relative;
    left:1%;
    top:2%;
    height: 96%;
    width: 98%;
    display: flex;
}
.referenceItem-imageContainer
{
    position: relative;
    left: 0%;
    height:100%;
    width: 20%;
}

.referenceItem-imageContainer img
{
    height: 100%;
    width:100%;
}

.referenceItem-middleTextContainer
{
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;

}

.referenceItem-PlaceholderReference
{
    width: 100%;
    height: 30%;
    font-size: larger;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    
}
.referenceItem-PlaceholderDescription
{
    height: 70%;
    width: 100%;
    font-size: medium;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}


.referenceItem-dateButtonContainer{
    position: relative;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.referenceItem-DateAndTimeReference{
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.referenceItem-detailsButton{
    width: 100%;
    justify-items: center;
}
.referenceItem-detailsButton button
{
    padding: 10px;
    justify-self: center;
    background-color: rgb(97, 160, 95);
    color: white;
    border-radius: 5px;
    border: none;
}

.toggle-container 
{
    margin: 25px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 140px;
    position: relative;
    left:43%;
}

.toggle-button 
{
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #f0f0f0;
    border: none;
    outline: none;
    transition: background-color 0.3s;
}

.toggle-button.active 
{
    background-color: rgb(97, 160, 95);
    border-radius: 8px;
    color: white;
}

/*Edit listing section*/

.editBackground
{
    margin: 5em;
    row-gap:  5em;
    overflow-y: hidden;
    overflow-x:hidden;
}

.editBackground h2
{
    margin-bottom: 2em;
}

.editButtons
{
    height: 60px;
    width: 120px;
    border: none;
    border-radius: 5px;
    background-color: rgb(97, 160, 95);
    color: white;
    margin: 5px;
}

.messageBackground{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.445);
    touch-action: none;
    align-items: center;
}

.messageContainer
{
    position: relative;
    top:30%;
    width: 20%;
    height: 25%;
    left:40%;
    z-index: 101;
    background-color: rgb(97, 160, 95);
    border-radius: 3px;
    border: 4px solid white;
    overflow-y: hidden;
    overflow-x:hidden;
    text-align: center;
}
.messageContainer h6
{
    padding-top: 20%;
    color: white;
}

.overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.option-box 
{
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.yes {
background-color: green;
color: white;
}

.no {
            background-color: red;
            color: white;
}