.body
{
    font-family: sans-serif;
}
.MainNavbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
   /* background-color: rgb(0, 162, 255);*/
   background-color: rgb(0, 162, 255);
    height: 60px;

}
.MainLogo img{
    max-height: 60px;
    max-width:auto ;
    border: none;
    border :0;
}
.Nav-links{
    display: flex;
    gap : 2em;
}
#DROP
{
    border: none;
    background-color: rgb(0, 162, 255);
    color: white;
}

.Nav-Buttons
{
    border: none;
    background-color: rgb(0, 162, 255);
    color:white;
}

.Nav-Buttons:hover
{
    background-color: rgb(0, 162, 255);
    font-weight: bold;
}


.Main_Search{
    display: flex;
    width: 90%;
    max-width: 600px;
    margin: 10px auto;
    gap:10px;

}
.Search-Bar{
    display: flex;
    width: 100%;
    padding: 5px auto;
    padding-right: 5px auto;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    transition: width 0.3s ease-in-out;
}
.SearchButton{
    background-color: none;
    border: none;
    color:rgb(0, 162, 255) ;
}


.Background
{
    padding-top: 5em;
    display: flex;
    flex-wrap: wrap;
    width:100;
    height:100vh;
    padding-bottom: 5em;
    padding-right: 5%;
    padding-left:5%;
    gap: 15em;
    row-gap: 5em;
}

.optionsContainer{
  
    width: 25em;
    height: 15em;
    box-shadow: 0 0 10px rgba(0,0,0,0.315);
    border-radius: 5px;
}

.optionsContainer:hover
{
    background-color: rgb(221, 221, 221);
}

.optionsContainer-title{
    width: 100%;
    height: 20%;
    font-size: larger;
    font-weight: 600;
    padding: 10px;
}

.optionsContainer-contentContainer
{
    position: relative;
    width: 100%;
    height: 60%;
    margin-left: 10px;
    display: flex;
}

.optionsContainer-imageContainer
{
    width:40%;
    height: 100%;
}

.optionsContainer-imageContainer img
{
    width:100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
}
.optionsContainer-wordscontainer
{
    position: relative;
    top:20%;
    height: 20%;
    width:55%;
    margin-left: 10px;
    font-size: large;
    font-weight: 600;
}



@media (max-width:1200px) 
{
    .Background
    {
        gap:10em
    }
}

@media (max-width:1100px) 
{
    .Background
    {
        padding-left: 10%;
    }
}
